@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_UserLayout";
}
<div class="page-header flex-wrap">
    <img src="~/assets/images/dashboard/SEWA HD.png" width="1200" height="450" alt="Alternate Text" />
</div>

