@model PinjamDashboard
@{
    Layout = "_UserLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Transaksi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Transaksi</li>
        </ol>
    </nav>
</div>
<a class="nav-link" asp-action="CreatePeminjaman">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Data Pinjam</span>
</a>
@await Html.PartialAsync("Partial/ListPeminjaman.cshtml")
