@model BlogDashboard
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Member</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Member</li>
        </ol>
    </nav>
</div>
<a class="nav-link"  asp-action="CreateMember">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Member Baru</span>
</a>


@await Html.PartialAsync("Partial/ListBlog.cshtml")
