@model Supir

@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Create Supir</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Supir" asp-action="Index">Data Supir</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Create Supir</li>
        </ol>
    </nav>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-controller="Supir" asp-action="CreateSupir" class="forms-sample">
                <div class="form-group">
                    <label asp-for="NamaSupir">Nama Supir</label>
                    <input asp-for="NamaSupir" type="text" class="form-control" id="exampleInputEmail3" placeholder="Nama Supir" />
                </div>
                <div class="form-group">
                    <label asp-for="Alamat">Alamat</label>
                    <input asp-for="Alamat" type="text" class="form-control" id="exampleInputEmail3" placeholder="Alamat" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="HargaPerhari">Harga Perhari</label>
                        <input asp-for="HargaPerhari" class="form-control" id="exampleInputMobile" placeholder="Harga" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="status">status</label>
                    <input asp-for="status" type="text" class="form-control" id="exampleInputEmail3"  />
                </div>

                <input type="submit" class="btn btn-primary mr-2" value="Submit" />
                <button type="reset" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

