@model List<Supir>
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Details</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Supir" asp-action="Index">Data Supir</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Details Supir</li>
        </ol>
    </nav>
</div>
@foreach (var item in ViewBag.detail)
{
    <h3>Nama Supir    : @item.NamaSupir</h3>
    <h3>Alamat        : @item.Alamat </h3>
    <h3>Harga Perhari : @item.HargaPerhari</h3>
    <h3>Status        : @item.status</h3>
}

