@model SupirDashboard
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Supir</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Supir</li>
        </ol>
    </nav>
</div>
<a class="nav-link" asp-action="CreateSupir">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Data Supir Baru</span>
</a>
@await Html.PartialAsync("Partial/ListSupir.cshtml")