@model MobilDashboard
@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Data Mobil</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Data Mobil</li>
        </ol>
    </nav>
</div>
<a class="nav-link" asp-action="CreateMobil">
    <i class="mdi mdi-plus menu-icon"> </i>
    <span class="menu-title">Buat Data Mobil Baru</span>
</a>


@await Html.PartialAsync("Partial/ListMobil.cshtml")
