@model Db_Peminjaman;

@{
    Layout = "_AdminLayout";
}
<div class="page-header">
    <h1 class="page-title">Edit Transaksi</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Peminjaman" asp-action="Index">Data Transaksi</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Transaksi</li>
        </ol>
    </nav>
</div>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-controller="Peminjaman" asp-action="Ubah">
                <input type="hidden" asp-for="Id_Peminjaman" />
                <input type="hidden" asp-for="Id_Member" />
                <input type="hidden" asp-for="Image" />
                <input type="hidden" asp-for="NamaMember" />
                <label>Nama Paket</label>
                <input asp-for="NamaPaket" class="form-control" id="exampleInputEmail1" />
                <label>Nama Supir</label>
                <input asp-for="NamaSupir" class="form-control" id="exampleInputEmail1" />
                <label>Nama Mobil</label>
                <input asp-for="NamaMobil" class="form-control" id="exampleInputEmail1" />
                <label>Tanggal Peminjaman</label>
                <input asp-for="Tgl_Pinjam" class="form-control" id="exampleInputEmail1" />
                <label>Tanggal Pengembalian</label>
                <input asp-for="Tgl_Kembali" class="form-control" id="exampleInputEmail1" />
                <input type="submit" class="btn btn-primary mr-2" value="Submit" />
            </form>
        </div>
    </div>
</div>



